*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f1f3f6;
}

.dir-field-wrapper{
    padding: 10px;
}

.dir-field-text{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #f6f6f6;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
}

.btn {
    background-color: #4B92D1;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 200px;
    border: 0px;
}

.btn:hover{
    background-color: #2E75B5;
}

.ctr-btn{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.frstLyr{
    width: 450px;
    float: left;
    margin-left: 35%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.08);
    border-radius: 5px;
    padding-bottom: 5px;
}

.header{
    width: 100%;
    height: 55px;
    background-color: #2E75B5;
    color: white;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.heading{
    width: 100px;
    padding-top: 15px;
    padding-left: 15px;
    float: left;
}

.logo-wrapper{
    width: 140px;
    float: right;
    padding: 5px;
}

.logo{
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.error-text{
    color: red;
    font-family: Cambria;
    font-size: 14px;
    margin: 0px 0px 0px 12px;
}

.banner{
    width: 100%;
    height: 80px;
    background-color: #2E75B5;
    position: relative;
}

.banner-logo-wrapper{
    width: 250px;
    height: 80px;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    float: left;
}

.banner-logo{
    width: 100%;
    height: 60px;
    object-fit: fill;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.v_content{
    flex: 1;
    width: 100%;
    height: 100%;
}

.vertical-menu-container{
    width: 300px;
    max-height: 570px;
    float: left;
    background-color: white;
    position: absolute;
    margin: 15px 10px 0px 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.08);
    overflow: auto;
}

.MenuItem-wrapper{
    width: 70%;
    height: 570px;
    float: left;
    background-color: white;
    margin: 15px 40px 0px 380px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.08);
}

.Item-header{
    font-family: Calibri;
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-color: #2E75B5;
    color: white;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.08);
    padding: 10px 0px 0px 20px;
    text-align: center;
}

.field-data{
    width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 10px;
}

.field-data-label{
    width: 300px;
    left: 0px;
    margin-right: 10px;
    position: absolute;
}

.field-data-text{
    position: absolute;
    right: 0px;
}

.field-decoration{
    width: 300px;
    height: 25px;
    background-color: #f6f6f6;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px 5px;
}

.table-wrapper{
    width: 98%;
    overflow-x: auto;
    margin: 10px;
    border: 1px solid #ccc;
}

table{
    font-family: Calibri;
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
    background-color: #51596a;
    color: white;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #eaeaea;
}

.search-bar-container{
    width: 600px;
    height: 100%;
    float: left;
    margin-left: 250px;
    padding-top: 12px;
}

.search-bar-wrapper{
    width: 99%;
    height: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: green;
    //border: 3px solid #FFC90E;
    border-radius: 5px;
}

.search-option{
    font-family: Calibri;
    font-size: 18px;
    width: 180px;
    padding: 0px 15px;
    height: 55px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 3px solid #FFC90E;
    border-bottom: 3px solid #FFC90E;
    border-left: 3px solid #FFC90E;
}

.search-bar{
    font-family: Calibri;
    font-size: 18px;
    width: 367px;
    height: 55px;
    outline: none;
    border: none;
    margin-left: -1px;
    padding: 0px 15px;
    border-top: 3px solid #FFC90E;
    border-bottom: 3px solid #FFC90E;
}

.search-button{
    background-color: #1C466D;
    width: 50px;
    height: 55px;
    margin-left: -1px;
    //margin-top: 4px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 3px solid #FFC90E;
    border-right: 3px solid #FFC90E;
    border-bottom: 3px solid #FFC90E;
    cursor: pointer;
}

.search-button:hover{
    background-color: #163855;
}

.search-button-img{
    width: 90%;
    height: 90%;
    object-fit: fill;
    border-radius: 8px;
    margin-top: 2px;
}

@media screen and (max-width: 1100px) {
    .search-bar-container{
        //position: absolute;
        margin-left: 5%;
    }

}

@media screen and (max-width: 850px) {
    .search-bar-container{
        position: absolute;
        margin-left: 300px;
    }
}
