.selectedMenuItem{
    font-family: Courier;
    font-size: 14px;
    width: 100%;
    height: 40px;
    background-color: #2E75B5;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.vertical-menu-header{
    font-family: Courier;
    font-size: 14px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
}

.vertical-menu-header:hover{
    background-color: #eceeff;
    color: #2E75B5;
    cursor: pointer;
}

/* Style the tab */
.tab-wrapper{
    width: 100%;
    height: 91.7%;
    position: relative;
}

.tab-header-wrapper{
    width: 28%;
    max-height: 99.5%;
    overflow: auto;
    position: absolute;
    left: 0px;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.08);
}

.tab-content-wrapper{
    width: 72%;
    max-height: 99%;
    overflow: auto;
    position: absolute;
    right: 0px;
}

.tab {
  overflow: hidden;
  background-color: #2E75B5;

}

/* Style the buttons inside the tab */
.tab button {
    width: 100%;
    font-family: Calibri;
    font-size: 14px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    text-align: left;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1C466D;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1C466D;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 0px;
}

.data-wrapper{
    width: 94%;
    margin: 10px 0px 10px 20px;
    border-radius: 5px;
    padding: 10px;
    border: #C7C7C7 solid 1px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0, .16);
}

.main-menu-container{
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    font-family: Calibri;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 2px rgba(0,0,0, 0.2);
    padding-left: 200px;
}

.main-menu-item{
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    float: left;
}

.main-menu-item:hover{
    background-color: #1C466D;
    color: white;
}

.main-menu-item-selected{
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    float: left;
    background-color: #1C466D;
    color: white;
}