<!DOCTYPE html>
{% load static %}
{% load custom_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZScaler</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/tooltip_decoration.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static "js/endpoint_tabs.js" %}"></script>
    <script src="{% static "js/generic.js" %}"></script>

    <script language="JavaScript">

        $(document).ready(function (){
            resetMainMenu('{{ selected_cloud_name|lower }}');
        });

        function reset_domain_list(id)
        {
            var div_id = "vertical_menu_" + id;
            var divs = document.getElementById(div_id).getElementsByTagName('div');
            for(var i=0; i < divs.length; i++)
            {
                divs[i].className='VMenu vertical-menu-header';
            }
        }

        function resetMainMenu(id)
        {
            var divs = document.getElementById('mainmenucontainer').getElementsByTagName('div');
            for(var i=0; i < divs.length; i++)
            {
                if(divs[i].id != id)
                {
                    divs[i].className='MainMenu main-menu-item';
                }
                else
                {
                    divs[i].className = 'MainMenu main-menu-item-selected'
                    reset_domain_list(divs[i].id);
                }
                var div = document.getElementById("vertical_menu_" + divs[i].id)
                div.style.display = "none";
            }
            var div = document.getElementById("vertical_menu_" + id)
            div.style.display = "block";
        }

        function selectMainMenuItem(id, domain_name="")
        {
            resetMainMenu(id);

            if(domain_name == "")
            {
                window.history.pushState('obj', '/client_data/', '/client_data/?cloud=' + id)
            }
            else
            {
                window.history.pushState('obj', '/client_data/', '/client_data/?cloud=' + id + '&tab=' + domain_name);
                var domain_div = document.getElementById(domain_name);
                if(domain_div)
                {
                    domain_div.className = "VMenu selectedMenuItem";
                }
            }

            $("#MenuItem").load(location.href + " #MenuItem>*", "");

        }

        function selectMenuItem(id)
        {
            var div_id = "vertical_menu_" + id.slice(id.indexOf(".") + 1);
            var divs = document.getElementById(div_id).getElementsByTagName('div');
            for(var i=0; i < divs.length; i++)
            {
                if(divs[i].id != id)
                {
                    divs[i].className='VMenu vertical-menu-header';
                }
                else
                {
                    divs[i].className='VMenu selectedMenuItem';
                }
            }

            var selected_cloud_div = document.getElementsByClassName("main-menu-item-selected")[0];
            var selected_cloud_name = selected_cloud_div.id;
            var endpoint_div_id = selected_cloud_name + "_" + id;
            window.history.pushState('obj', '/client_data/', '/client_data/?cloud=' + selected_cloud_name + '&tab=' + id)
            $("#MenuItem").load(location.href + " #MenuItem>*", "");
        }

    </script>
</head>
<body>
    <div class="banner">
        <form id="banner_form" method="post">
            {% csrf_token %}
            <div class="banner-logo-wrapper">
                <a href="#" onclick="document.forms['banner_form'].submit()">
                    <img class="banner-logo" src="{% static 'images/Logo.jpg'%}">
                </a>
            </div>
        </form>
        <div class="search-bar-container">
            <div class="search-bar-wrapper">
                <div>
                    <select id="search_cloud_name" class="search-option" >
                        {% for cloud in cloud_names %}
                            {% ifequal forloop.counter 1 %}
                                <option selected="selected">{{ cloud|lower }}</option>
                            {% else %}
                                <option>{{ cloud|lower }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <input id="search_field" type="text" class="search-bar" placeholder="Search for domain">
                </div>
                <div id="search_button" class="search-button">
                    <img class="search-button-img" src="{% static "images/search_img.png" %}">
                </div>
            </div>
        </div>
    </div>
    <div id="mainmenucontainer" class="main-menu-container">
        {% for cloud in cloud_names %}
            {% ifequal forloop.counter 1 %}
                <div id="{{ cloud|lower }}" class="MainMenu main-menu-item-selected" cloud_target="{{ cloud|lower }}" onclick="selectMainMenuItem(this.id)">
                    {{ cloud }}
                </div>
            {% else %}
                <div id="{{ cloud|lower }}" class="MainMenu main-menu-item" cloud_target="{{ cloud|lower }}" onclick="selectMainMenuItem(this.id)">
                    {{ cloud }}
                </div>
            {% endifequal %}
        {% endfor %}
    </div>
    <div class="flex-container">
        <div  class="v_content">
            <div id="main_content">
            <div id="verticalmenucontainer" class="vertical-menu-container">
            {% for cloud in cloud_names %}
                <div id="vertical_menu_{{ cloud }}">
                    {% get_keys_list customized_json_data cloud as domain_name_lst  %}
                    {% for domain in domain_name_lst %}
                        <div id="{{ domain|lower }}"  class="VMenu vertical-menu-header" target="{{ domain|lower }}" onclick="selectMenuItem(this.id);">
                            {{ domain }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            </div>
            <div id="AllMenuItem">
                <div id="MenuItem" class="MenuItem-wrapper">
                    <div class="Item-header">
                        Domain : {{ selected_domain_name }}
                    </div>
                    {% if selected_domain_name %}
                    <div class="tab-wrapper">
                        <div class="tab-header-wrapper">
                            <div class="tab">
                                {% for endpoint in endpoints %}
                                    <button class="tablinks" onclick="openCity(event, '{{ endpoint }}')">{{ endpoint }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div  class="tab-content-wrapper">
                            {% for endpoint in endpoints %}
                                <div id="{{ endpoint }}" class="tabcontent">
                                  <h3 style="margin-left: 25px;">{{ endpoint }}</h3>
                                  <div class="data-wrapper">
                                    {% get customized_json_data endpoint as custom_dt  %}
                                      {% for control_type, data_dt in custom_dt.items %}
                                        {% if control_type == "field" %}
                                            {% for label, plain_data_dt in data_dt.items %}
                                                <div class="field-data">
                                                    <div class="field-data-label">{{ label }}</div>
                                                    {% for count, plain_data in plain_data_dt.items %}
                                                        <div class="field-data-text">
                                                            <div class="tooltip">
                                                            <input class="field-decoration" readonly type="text" value="{{ plain_data }}">
                                                                <span class="tooltiptext">Data count: {{ count }}</span>
                                                            </div>
                                                        </div>

                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        {% elif control_type == "blank"%}
                                            <div class="field-data">
                                                <div class="field-data-label">No Data</div>
                                                <div class="field-data-text">
                                                </div>
                                            </div>
                                        {% elif control_type == "table"%}
                                            <div class="table-wrapper">
                                                <table>
                                                <tr>
                                                    {% for tbl_heading in custom_dt.headers %}
                                                        <th>{{ tbl_heading }}</th>
                                                    {% endfor %}
                                                </tr>
                                                {% for table_dt in custom_dt.table%}
                                                    <tr>
                                                    {% for tbl_heading in custom_dt.headers %}
                                                        {% get table_dt tbl_heading as tbl_data  %}
                                                        <td>{{ tbl_data }}</td>
                                                    {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            </div>
                                        {% endif %}
                                      {% endfor %}
                                  </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>