<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZScaler</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">

</head>
<body>
     <div class="frstLyr">
        <div class="header">
            <div class="heading">Json Upload</div>
            <div class="logo-wrapper">
                <img class="logo" src="{% static 'images/Logo.jpg'%}">
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="dir-field-wrapper">
                <section>
                    Enter JSON Directory path:
                </section>
                <section>
                    <input class="dir-field-text" id="json_file_dir_path" name="json_file_dir_path" type="text">
                </section>
            </div>
            {% for error in json_form.json_file_dir_path.errors %}
            <div id="err" class="error-text">
                {{ error }}
            </div>
            {% endfor %}
            <div class="ctr-btn">
                <input id="id_json_submit" name="json_submit" type="submit" class="btn" value="Upload">
            </div>
        </form>
    </div>
</body>
</html>